# Node modules e lockfile
node_modules/
package-lock.json

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Prisma
generated/
prisma/migrations/

# Arquivos CSV
csv/*.csv

# Credenciais sensíveis (Google OAuth 2.0)
credentials/client_secret.json

# Builds, logs e caches
dist/
build/
*.log
